@model IEnumerable<RouteOptimization.Infrastructure.Product>
<div style="width: 100%; height: 400px; overflow: scroll; border: 5px black; background-color: #ccc;">
    <table id="dt_basic" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <i class="fa fa-fw fa-briefcase text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    <i class="fa fa-fw fa-briefcase text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>
                    <i class="fa fa-fw fa-briefcase text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.ListPrice)
                </th>
                <th>
                    <i class="fa fa-fw fa-briefcase text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    <i class="fa fa-fw fa-briefcase text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.Weight)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>
    </div>
