@model IEnumerable<RouteOptimization.Infrastructure.OrderProduct>

<div style="width: 100%; height: 300px; overflow: scroll; border: 5px black; background-color: #ccc;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Product Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.OrderProductID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.OrderProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.OrderProductID })
                    </td>*@
            </tr>
        }

    </table>
    </div>
